# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
artifacts/
bld/
*.log
*.vspscc
*.vssscc
*.builds
*.pidb
*.svclog
*.scc

# Packages
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

# Resharper
_ReSharper*/
*.DotSettings.user

# Rider
.idea/

# DotNet Core
*.runtimeconfig.dev.json
*.fsproj.user
*.csproj.user

# Test Results
TestResults/
*.trx
*.coverage
*.coveragexml

# SQL Database files
*.mdf
*.ldf

# Local settings
*.usersecrets
appsettings.Development.json